.details-page {
    .product-action-area {
        @include border-bottom(color-2);
        .container {
            @include display(row, flex-end, center);
            height: 100px;
            gap: 20px;
        }
        height: 100px;
        input {
            width: 70px;
            text-align: center !important;
            @include font(full-black, 0.85rem, 600);
        }
        .sale-text {
            @include font(full-black, 0.9rem);
        }
    }
    .product-details {
        .info-area {
            @include display(column, center, flex-start);
            @include colorize("background-color", color-9);
            height: calc(100vh - 236px);
            padding: 0 6.8rem 0 12.5rem;
            .title {
                @include font(full-black, 2rem, normal);
            }
            .description {
                @include font(full-black, 1.15rem, normal);
            }
        }
        .image-area {
            @include display(row, flex-start, center);
            padding: 3.5rem 0;
            img {
                width: 23rem;
                height: 23rem;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .info-area {
        @include display(column, center, flex-start);
        @include colorize("background-color", color-9);
        height: calc(100vh - 236px);
        padding: 0 auto;
        .title {
            @include font(full-black, 2rem, normal);
        }
        .description {
            @include font(full-black, 1.15rem, normal);
        }
    }
}

@media screen and (max-width: 767px){
    .image-area {
        @include display(row, flex-start, center);
        padding: auto 0;
        img {
            width: 15rem;
            height: 15rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}