@mixin border-bottom($color, $width: 1, $style: solid) {
    @include colorize("border-bottom-color", $color);
    border-bottom-width: $width;
    border-bottom-style: $style;
}

@mixin border($color, $width: 1, $style: solid) {
    @include colorize("border-color", $color);
    border-width: $width;
    border-style: $style;
}