@mixin font($color: black, $size: 16, $weight: 400, $line-height: initial) {
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    @include colorize("color", $color);
}

.product__title {
    @include font(full-black, 32px, 600);
}
